.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 70px;
}

.nav-link {
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link:hover {
  background-color: #016bdb;
}
